XML-MiniProject2-BaeJunyup-21011627-DTD.dtd

<!--root 정의-->
<!ELEMENT project (scene+)>

<!--scene element 정의-->
<!ELEMENT scene (object*)>
<!ATTLIST scene name CDATA #REQUIRED>

<!--object
element 정의-->
<!ELEMENT object (transform, components)>
<!ATTLIST object
    id ID #REQUIRED
    name CDATA #REQUIRED
    parent IDREF #IMPLIED>

<!--transform
element 정의-->
<!ELEMENT transform (position, rotation, scale)>

<!--position,
roatation, scale 정의-->
<!ELEMENT position EMPTY>
<!ELEMENT rotation EMPTY>
<!ELEMENT scale EMPTY>
<!ATTLIST position
    x CDATA #REQUIRED
    y CDATA #REQUIRED
    z CDATA #REQUIRED>
<!ATTLIST rotation
    x CDATA #REQUIRED
    y CDATA #REQUIRED
    z CDATA #REQUIRED>
<!ATTLIST scale
    x CDATA #REQUIRED
    y CDATA #REQUIRED
    z CDATA #REQUIRED>

<!--components
정의-->
<!ELEMENT components (component*)>

<!--component
정의-->
<!ELEMENT component (
    (FieldOfView, NearClip, FarClip)|
    (name, parameter*)|
    (LightType, Intensity, Color)|
    (Mass, IsKinematic)|
    (Coll_Type, IsTrigger)|
    (Mesh_ref)|
    (Audio_ref, Loop, PlayOnAwake)|
    (Render_Mode)|
    (Scale_Mode)
    )?>

<!ATTLIST component type (camera | Light | AudioListener |
 Script | Rigidbody | Collider | MeshRenderer | Canvas |
  CanvasScaler | AudioSource) #REQUIRED>

<!--component
type이 camera인 경우-->
<!ELEMENT FieldOfView (#PCDATA)>
<!ELEMENT NearClip (#PCDATA)>
<!ELEMENT FarClip (#PCDATA)>

<!--component
type이 Script인 경우-->
<!ELEMENT name (#PCDATA)>
<!ELEMENT parameter (#PCDATA)>
<!ATTLIST parameter
    type (float | string | int | double | GameObject | Button) #REQUIRED
    name CDATA #REQUIRED>

<!--component
type이 Light인 경우-->
<!ELEMENT LightType (#PCDATA)>
<!ELEMENT Intensity (#PCDATA)>
<!ELEMENT Color (#PCDATA)>

<!--component
type이 Rigidbody인 경우-->
<!ELEMENT Mass (#PCDATA)>
<!ELEMENT IsKinematic (#PCDATA)>

<!--component
type이 Collider인 경우-->
<!ELEMENT Coll_Type (#PCDATA)>
<!ELEMENT IsTrigger (#PCDATA)>

<!--component
type이 MeshRenderer인 경우-->
<!ELEMENT Mesh_ref (#PCDATA)>

<!--component
type이 AudioListener인 경우-->
<!ELEMENT Audio_ref (#PCDATA)>
<!ELEMENT Loop (#PCDATA)>
<!ELEMENT PlayOnAwake (#PCDATA)>

<!--component
type이 Canvas인 경우-->
<!ELEMENT Render_Mode (#PCDATA)>

<!--component
type이 CanvasScaler인 경우-->
<!ELEMENT Scale_Mode (#PCDATA)>