XML-MiniProject3-BaeJunyup-include1.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://ProjectScene.org"
    xmlns="http://ProjectScene.org"
    elementFormDefault="qualified">

    <xsd:include schemaLocation="XML-MiniProject3-BaeJunyup-include2.xsd" />
    <xsd:element name="object">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="transform" />
                <xsd:element ref="components" />
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:ID" use="required" />
            <xsd:attribute name="name" type="xsd:string" use="required" />
            <xsd:attribute name="parent" type="xsd:IDREF" use="optional" />
        </xsd:complexType>
    </xsd:element>
</xsd:schema>